<% @book_states.each do |book_state| %>
  <%= render book_state.book %>
  <b>State:</b><%= book_state.state %><br><br><br>
<% end %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if user_signed_in? %>
  </div>
</div>