<div class="book">
  <%= image_tag book.image.url if book.image? %>
  <b>Title: </b><%= book.title %><br>
  <b>Author: </b><%= book.author %><br>
  <b>Publish_date: </b><%= book.publish_date.strftime("%b %d, %Y") %><br>
  <b>Number pages: </b><%= book.number_page %><br>
  <b>Rating: </b><%= book.rating %><br>
</div>