<div class="book well">
  <div class="list-book-intro">
    <div class="list-book-image">
        <%= link_to (image_tag book.important_photo.image.url), book %>
    </div>
    <div class="list-book-state">
      <% if current_user.load_books(:book_state, book).nil? %>
        <%= button_to "New book", {}, disabled: true, class: "btn-primary" %>
      <% else %>
        <%= button_to current_user.load_books(:book_state, book).state, {}, disabled: true, class: "btn-primary" %>
      <% end %>  
    </div>  
  </div>
  <div class="list-book-detail">
    <span><%= link_to book.title, book %></span>
    by Author <span><%= book.author %></span>
    <div class="show-book-rate-star">
      <%= render_stars(book.rating) %>
    </div><br />
    <%= book.publish_date.strftime("Publish: %m/%d/%y") %>
    in <%= link_to book.category.name, category_path(book.category) %>
  </div>
  <% if current_user.is_admin? %>
    <%= link_to "Edit", edit_admin_book_path(book) %> |
    <%= link_to "delete", admin_book_path(book), method: :delete, data: {confirm: "You sure?"} %>
  <% end %>  
</div>
<div class="clear"></div>  
