<% provide(:title, "Book") %>
<div class="row">
  <h1>List all books</h1>
  <div class="search-book">
    <%= form_tag books_path, method: 'get', id: "books_search" do %>
      <div class="search-region">
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="search-form">
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        </div>
        <div class="filter-select-form">
          <%= select_tag(:filter, options_for_select([['Title', 'title'], ['Author', 'author']], 'title')) %>
        </div>
        <div class="search-button">
          <%= submit_tag "Search" %>
        </div>  
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="sort-book">
      Sorted by
      <span><%= sortable "title" %></span>
      <span><%= sortable "author" %></span>
      <span><%= sortable "rating", "Rate" %></span>
      <span><%= sortable "categories.name", "Category" %></span><br />
      <% unless params[:filter].nil? %>    
        <strong>Result for search:</strong> <%= pluralize(@books.count, "book", "books") %>
      <% end %>
    </div>  
  </div>  
  <ul class="categories_list">
    <% if current_user.is_admin? %>
      <div class="admin-new-category">
        <%= link_to "Create new book", new_admin_book_path %>
      </div>
    <% end %>
    <div class="list-books"> 
      <%= render @books %>
      <%= will_paginate %>
    </div>
  </ul>
</div> 