<% provide :title, 'Show book' %>
<div class="row">
  <h1>Show book</h1>
  <div class="book-info">
    <div class="book-image">
      <%= image_tag @book.image? ? @book.image.url : "default_book.jpg" %>
      <div class="form-book-state">
        <%= render 'button_book_state' %>
      </div>
    </div>
    <div class="book-detail well">
      <table>
        <tr>
          <td>Title:</td>
          <td><%= @book.title %></td>
        </tr>
        <tr>
          <td>Author:</td>
          <td><%= @book.author %></td>
        </tr>
        <tr>
          <td>Number page:</td>
          <td><%= pluralize(@book.number_page, "book", "books") %></td>
        </tr>
        <tr>
          <td>Publish date:</td>
          <td><%= @book.publish_date.strftime("The date is %m/%d/%y") %></td>
        </tr>  
        <tr>
          <td>Rating:</td>
          <td><div id="book-rating"><%= @book.rating %></td>
        </tr>
        <tr>
          <td>Category:</td>
          <td><%= @book.category.name %></td>
        </tr>
      </table>  
    </div>  
  </div>
  <div class="clear"></div>
  <div class="book-review">
    <%= render 'book_reviews' %>
  </div> 
</div>  