<% provide :title, 'Show book' %>
<div class="row">
  <h1>Show book</h1>
  <div class="book-info">
    <div class="book-image">
      <%= image_tag @book.important_photo.image %>
      <div class="form-book-state">
        <%= render 'button_book_state' %>
      </div>
      <div class="book-star-rating">
        <%= render 'book_star_rating' %>        
      </div>
      <div id="favorite-book-button">
        <%= render 'favorite_book_button' %>
      </div>   
    </div>
    <div class="book-detail well">
      <table>
        <tr>
          <td>Title:</td>
          <td><%= @book.title %></td>
        </tr>
        <tr>
          <td>Rate:</td>  
          <td>
            <div class="show-book-rate-star">
              <%= render_stars(@book.rating) %>
            </div>
            <div id="book-rating"><%= @book.rating %></div>
          </td>
        </tr>        
        <tr>
          <td>Author:</td>
          <td><%= @book.author %></td>
        </tr>
        <tr>
          <td>Number page:</td>
          <td><%= pluralize(@book.number_page, "book", "books") %></td>
        </tr>
        <tr>
          <td>Publish date:</td>
          <td><%= @book.publish_date.strftime("%m/%d/%y") %></td>
        </tr>
        <tr>
          <td>Category:</td>
          <td><%= link_to @book.category.name, category_path(@book.category) %></td>
        </tr>
      </table>  
    </div>  
  </div>
  <div class="clear"></div>
  <div class="garalley_book">
    <span>Garalley book:</span>
    <table>
      <tr>
        <% @book.photos.each_with_index do |image, index| %>
          <% unless index % 3 == 2 %>
            <td><%= image_tag image.image %></td>
          <% else %>
            <td><%= image_tag image.image %></td>
          </tr>
          <tr>
          <% end %>
        <% end %>
    </table>
  </div>  
  <div class="book-review">
    <%= render 'book_reviews' %>
  </div> 
</div>  