<li id="category-<%= category.id %>">
<div class="category-info">
  <div class="box-image">
    <%= link_to (image_tag category.image.url), category %>
  </div>
  <span><%= link_to category.name, category %></span>
</div>
<% if current_user.is_admin? %>  
  <div class="manage-category">
    <%= link_to "Edit", edit_admin_category_path(category) %> |
    <%= link_to "delete", admin_category_path(category), method: :delete,
                                    data: {confirm: "You sure?"} %>
  </div>
<% end %>
</li>