<span>Write review</span>
<%= form_for [@book, Review.new], remote: true do |f| %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.hidden_field :rate, value: 0 %>
  <%= f.hidden_field :rate, id: "stars" %>
  <%= f.label :rate, "Rate book:" %><br />
  <% (1..5).each do |r| %>
    <%= f.label :rate do %>
      <%= "#{r}" %><%= f.radio_button :rate, "#{r}", class: "radio" %>
    <% end %>  
  <% end %><br />  
  <%= f.label :content, "Your review:" %>
  <%= f.text_area :content, placeholder: "Review content", size: "100x10", 
  class: "form-control" %><br>
  <%= f.submit "Create review", class: "btn btn-primary" %>
<% end %>
