<li id="review-<%= review.id %>">
  <div class="gravatar-user">
    <%= image_tag review.user.image? ? review.user.image.url : "default_user.jpeg" %>
  </div>
  <div class="review-region">
    <div class="review-info">
      <strong><%= review.user.username %></strong>
      rated it
      <div class="show-your-rate-star">
        <%= render_stars(review.rate) %>
      </div>  
    </div>
    <div class="review-content">
      <%= review.content %>
    </div>
    <div class="review-comment">
      <%= link_to pluralize(review.comments.count, "comment", "comments"),
              review_comments_path(review), remote: true, id: "count-comment-review-#{review.id}" %>
      <%= link_to "see review", review %>
    </div>
    <div class="comment-region">
      <div id="show-comments-review-<%= review.id %>"></div>
    </div>  
  </div>
  <div class="clear"></div>    
</li>