<% provide :title, "Edit review of #{@review.book.title}" %>
<div class="row">
  <div class="edit-book-info">
    <span>Edit review of <%= link_to "#{@review.book.title}", @review.book %></span>
    <div class="edit-book-image">
      <%= image_tag @review.book.important_photo.image.url %>
    </div>
    <div class="edit-book-info">
      <span>
        <%= link_to "#{@review.book.title}", @review.book %> by 
        <%= link_to "#{@review.book.author}", '#' %>
      </span>
    </div>  
  </div>
  <div class="edit-review-form">
    <%= form_for [@book, @review], url: book_review_path do |f| %>
      <%= f.label :rate, "Rate book:" %><br />
      <% (1..5).each do |r| %>
        <%= f.label :rate do %>
          <%= "#{r}" %><%= f.radio_button :rate, "#{r}", class: "radio" %>
        <% end %>  
      <% end %><br />
      <%= f.label :content, "Your review" %>
      <%= f.text_field :content, class: "form-control" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>  
</div>  